@import url('https://fonts.cdnfonts.com/css/league-spartan');

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  border: 1px solid white;
  font-family: 'League Spartan';
  color:white;
  font-weight: 600;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 1px !important;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: black;
  background-color: #e9c46a;
  /* border-radius: inherit; */
}

.dropdown-content a:active {
  color: black;
  background-color: #cfae5e;
  border-radius: inherit;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
